<div class="overflow-auto w-full">
    <table class="table-auto w-full text-white">
        <thead>
            <tr>
                <th *ngFor="let column of columns " class="text-left">{{ column }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td class="text-left"> {{ player.player }}</td>
                <td class="text-left"> {{ player.name }}</td>
                <td class="text-left"> {{ player.currentLife}}/{{player.maxLife }}</td>
                <td class="text-left"> {{ player.class }}</td>
                <td class="text-left"> {{ player.nivel }}</td>
                <td class="text-left"> ({{ player.ability.str.modifier }}){{ player.ability.str.isSave ? " | " + player.ability.str.saveModifier : null}}</td>
                <td class="text-left"> ({{ player.ability.dex.modifier }}){{ player.ability.dex.isSave ? " | " + player.ability.dex.saveModifier : null}}</td>
                <td class="text-left"> ({{ player.ability.con.modifier }}){{ player.ability.con.isSave ? " | " + player.ability.con.saveModifier : null}}</td>
                <td class="text-left"> ({{ player.ability.int.modifier }}){{ player.ability.int.isSave ? " | " + player.ability.int.saveModifier : null}}</td>
                <td class="text-left"> ({{ player.ability.wis.modifier }}){{ player.ability.wis.isSave ? " | " + player.ability.wis.saveModifier : null}}</td>
                <td class="text-left"> ({{ player.ability.cha.modifier }}){{ player.ability.cha.isSave ? " | " + player.ability.cha.saveModifier : null}}</td>
            </tr>
        </tbody>
    </table>
</div> 
