<div class="row">
    <div class="col-12 mb-2">
        <h3 class="text-zinc-100 font-bold">PLAYERS</h3>
        <hr>
    </div>

    <!-- CARD PLAYER -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let player of players"
            class="bg-zinc-800 text-white shadow-lg rounded-lg overflow-hidden border border-zinc-600 flex flex-col justify-between">
            <div>
                <div class="bg-zinc-700 text-white p-4">
                    <h2 class="text-2xl font-bold">{{ player.name }}</h2>
                    <p class="text-sm">{{ player.player }}</p>
                </div>
                <div class="p-4">
                    <p class="mb-2"><strong>Classe:</strong> {{ player.classe?.join(', ') }}</p>
                    <p class="mb-2"><strong>Nível:</strong> {{ player.nivel.join(', ') }}</p>
                    <p class="mb-2"><strong>Vida:</strong>
                        <input type="number" [(ngModel)]="player.currentLife"
                            class="bg-zinc-600 text-white rounded p-1 w-16 ms-2" />/{{ player.maxLife }}
                    </p>
                    <p class="mb-2"><strong>AC:</strong> {{ player.armorClass }}</p>
                    <p class="mb-2"><strong>Proficiency:</strong> {{ player.proficiency }}</p>
                    <div class="grid grid-cols-2 gap-2">
                        <p><strong>STR:</strong> {{ player.ability.str.value }}</p>
                        <p><strong>DEX:</strong> {{ player.ability.dex.value }}</p>
                        <p><strong>CON:</strong> {{ player.ability.con.value }}</p>
                        <p><strong>INT:</strong> {{ player.ability.int.value }}</p>
                        <p><strong>WIS:</strong> {{ player.ability.wis.value }}</p>
                        <p><strong>CHA:</strong> {{ player.ability.cha.value }}</p>
                    </div>
                </div>
            </div>
            <button (click)="editar(player)"
                class="mt-4 w-full bg-zinc-600 text-white py-2 px-4 rounded hover:bg-zinc-700">Editar</button>
        </div>
    </div>
</div>