<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 p-6 bg-zinc-700 ">
    <div class="text-white">
        <h2 class="mb-3">Objetivos do Projeto</h2>
        <p class="block mb-3">
            O objetivo deste projeto é investigar e solucionar qualquer problema que encontrarmos ao longo do caminho.
            Pretendemos testar as diversas tecnologias envolvidas e, ao fazer isso, documentar todas as soluções que
            desenvolveremos. Esse registro será valioso não apenas para meu aprendizado, mas também contribuirá para a
            comunidade de desenvolvedores, promovendo a troca de conhecimento.
        </p>
        <p class="block mb-3">
            Ao longo deste processo, iremos explorar as ferramentas e frameworks que compõem nossa pilha
            tecnológica: Docker, Angular, Laravel, Tailwind, MySQL, TypeScript e SCSS. Cada desafio superado
            representará um avanço significativo em nossa jornada de aprendizado, permitindo-nos aprimorar nossas
            habilidades e adquirir experiência prática em desenvolvimento de software. Estamos entusiasmados para
            embarcar nessa jornada de descoberta e crescimento, sempre com o foco na inovação e na resolução criativa de
            problemas.

        </p>
        <p class="block mb-3">
            Se os textos aparentarem ter sido feitos pelo ChatGPT, é porque foram, rsrs.
        </p>
    </div>
</div>