<div class="row">
    <div class="col-12">
        <h3 class="text-zinc-100 font-bold">CRIATURAS</h3>
        <hr>
    </div>
</div>

<div class="overflow-auto w-full">
    <table class="table-auto w-full text-white border-spacing-4">
        <thead>
            <tr>
                <th *ngFor="let columnCreatures of columnsCreatures " class="text-left ">{{ columnCreatures }}</th>
            </tr>
        </thead >
        <tbody>
            <tr *ngFor="let creature of creatures; let i = index" [ngClass]="{'bg-zinc-600': i%2 == 0}">
                <td class="text-left px-2 py-1 border  font-bold"> {{ creature.name }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.armorClass }}</td>
                <td class="text-center px-2 py-1 border" style="text-wrap: nowrap;"> <input type="text" class="pr-1" style="max-width: 25px;color:black; text-align: right;" [value]="creature.currentLife"> / <span style="width: 20px; display: inline-block;">{{creature.maxLife}}</span></td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.speed }}ft</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('str') }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('dex') }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('con') }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('int') }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('wis') }}</td>
                <td class="text-center px-2 py-1 border text-nowrap"> {{ creature.getModifier('cha') }}</td>
                
                <td class="text-center px-2 py-1 border line" > <span *ngFor="let skill of creature.skills">{{ skill.name }}+{{skill.abilityMod}}<br></span></td>
                <td class="text-center px-2 py-1 border line" > <span *ngFor="let sense of creature.senses">{{ sense }} <br></span></td>
                <td class="text-center px-2 py-1 border " > <span>{{creature.languages }}</span></td>
                <td class="text-center px-2 py-1 border " > <span>{{creature.nivel }}</span></td>
                <td class="text-center px-2 py-1 border " > <span *ngFor="let description of creature.descriptions">{{ description }} <br></span></td>
                <td class="text-center px-2 py-1 border " > <span *ngFor="let action of creature.actions">{{ action }} <br></span></td>
            </tr>
        </tbody>
    </table>
</div> 